// Custom styles.
// 自定义的文章摘要图片样式
img.img-topic {
    width: 100%;
}
// 自定义的引用样式
blockquote.question {
    color: #234;
    border-left: 3px solid rgb(249, 249, 249);
    background-color: rgb(249, 249, 249);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
    margin: 1em 0;
    padding: 1em 1.25em;
    font-weight: lighter;
    font-size: 1.3em;
}
